<div class="welcome contact" id="contact">
    <div class="container">
        <h3 class="title">Contact Us</h3>

        <div class="contact-row">
            <div class="col-md-6 contact-left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.915653414025!2d77.61001231418594!3d12.913142490894282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14fc94e3b57d%3A0xed632476780c658e!2s11%2C+Indira+Akash+Apartment%2C+21st+Main+Road%2C+3rd+D+Cross+Rd%2C+BTM+2nd+Stage%2C+Kuvempu+Nagar%2C+Stage+2%2C+BTM+2nd+Stage%2C+Bengaluru%2C+Karnataka+560076!5e0!3m2!1sen!2sin!4v1465813395724" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 contact-right">
                <div class="address-left">
                    <p>#11 21st main 3E cross BTM 2nd Stage, Bangalore - 560076<br> KA, India. </p>
                </div>
                <div class="address-right">
                    <p>Call us :  +91 77956 03977</p>
                    <p>E-mail : <a href="mailto:arifmr91@gmail.com">arifmr91@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
                <div class="contact-form">
                    <form method="post">
                        <input type="text" placeholder="Name" ng-model="contact.name" required="">
                        <input class="email" type="text" placeholder="Email" ng-model="contact.email" required="">
                        <input class="phone" type="text" placeholder="Phone" ng-model="contact.phone" required="">
                        <textarea name="Message" placeholder="Message" ng-model="contact.message" required=""></textarea>
                        <input type="submit" value="SUBMIT"  ng-click="submitData()">
                    </form>
                </div>
                <div style="font-size: 21px;color: white;smargin-top: 4%;">
                    {{successMessage}}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>