<div class="jumbotron text-center">
	<h1>Coming Soon!</h1>

	<p>{{ tagline }}</p>
</div>

<!--
<div style="width:500px;max-width:100%;overflow:hidden;height:500px;color:red;">
	<div id="google-maps-canvas" style="height:100%; width:100%;max-width:100%;">
		<iframe style="height:100%;width:100%;border:0;" frameborder="0"
				src="https://www.google.com/maps/embed/v1/place?q=btm+2nd+stage+#11+21st+main+3E+cross+btm+2nd+stage&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU">
		</iframe>
	</div>
	<a class="embedded-map-html" href="https://www.hostingreviews.website/compare/fatcow-vs-dreamhost"
	   id="get-data-for-embed-map">dreamhost fatcow</a>
	<style>#google-maps-canvas .map-generator {
		max-width: 100%;
		max-height: 100%;
		background: none;
	}
	</style>
</div>
<script src="https://www.hostingreviews.website/google-maps-authorization.js?id=2ae36726-298f-e68a-873b-8252e3202a67&c=embedded-map-html&u=1465816639"
		defer="defer" async="async"></script>
-->
