<!--banner-->
<div id="home" class="banner">
	<div class="banner-info">
		<div class="container">
			<div class="col-md-4 col-lg-4 hidden-sm hidden-xs header-left" style="margin-top: 2%;">
				<img src="/img/passport.jpg" alt=""/>
			</div>
			<div class="col-sm-4 col-xs-4 hidden-lg hidden-md header-left" style="margin-top: 8%;">
				<img src="/img/passport.jpg" alt=""/>
			</div>
			<div class="col-md-8 col-m6-8 col-sm-12 col-xs-12 header-right">
				<h1>MohammadArif Mujawar</h1>
				<h6 style="color:#F5F5F5">Software Developer
				<span class="falinks">
					<div style="margin-left: 50%;margin-top: -2%;font-size: 11px;">
						<a href="https://www.facebook.com/arif.mujawar.50" style="color: #D5D4D4;"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
						<a href="https://github.com/mujawar" style="color: #D5D4D4;"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a>
						<a href="https://in.linkedin.com/in/arif-mujawar-13796644" style="color: #D5D4D4;"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
						<a href="mailto:arifmr91@gmail.com" style="color: #D5D4D4;"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
					</div>
				</span>
				</h6>
				<ul class="address">
					<li>
						<ul class="address-text">
							<li><b>D.O.B</b></li>
							<li>27-12-1991</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>PHONE </b></li>
							<li>+91 77956 03977</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>ADDRESS </b></li>
							<li>21st Main BTM 2nd Stage, Bangalore -KA - India</li>
						</ul>
					</li>
					<li>
						<ul class="address-text">
							<li><b>E-MAIL </b></li>
							<li><a href="mailto:manishrw@yahoo.com">arifmr91@gmail.com</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//banner-->
<!--top-nav-->
<div class="top-nav wow" style="background:#FF9933">
	<div class="container">
		<div class="navbar-header logo">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				Menu
			</button>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="menu">
				<ul class="nav navbar">
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#work" class="scroll">Experience</a></li>
					<li><a href="#education" class="scroll">Education</a></li>
					<li><a href="#skills" class="scroll">Skills</a></li>
					<li><a href="#projects" class="scroll">My Projects</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>	
<!--//top-nav-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<h3 class="title"> About Me</h3>
		<div class="col-md-8 about-left">
			<p>	An accomplished full-stack software developer with 1+ years of experience in developing web application.
				Currently working in Medibox Technologies, Bangalore as Software Developer, I am involved with designing and developing scalable digital platform for healthcare industry
			</p>
			<p> Among other stuff, I would like to cook and play sports like volleyball,cricket,badminton</p>
		</div>
		<div class="col-md-4 about-right">
			<ul>
				<h5>Awards</h5>
				<li><span class="glyphicon glyphicon-menu-right"></span> Won 1st price in night-coding a National Level Technical Fest, OJAS’14 </li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Participated in “LOOPHOLE-ETHICAL HACKING WORKSHOP” kyrion Digital securities(P) Ltd, organized by MMEC,BELGAUM</li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Won 1st price in web design a National Level Technical Fest, OJAS’13 in MMEC</li>
				<li><span class="glyphicon glyphicon-menu-right"></span> Won 1st price for giving tagline for medibox website </li>
			</ul>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//about-->
<!--work-experience-->
<div id="work" class="work">
	<div class="container">
		<h3 class="title">Work Experience</h3>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>April 2015 - Current </h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-briefcase"> </span> Medibox Technologies LLP</h5>
				<h6> Software Developer</h6>
				<p>I am involved with designing and developing scalable digital platform for healthcare industry. Roles included User Interface web development in accordance with requirements,Mapping business requirements to application features and the most suited technology to provide
					business value
					Technologies used: NodeJS,MongoDB,AngularJS,ElasticSearch,HTML,CSS,Bootstrap. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//work-experience-->
<!--education-->
<div id="education" class="education">
	<div class="container">
		<h3 class="title">Education</h3>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>B.E in Computer Engineering, 2010-2014</h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-education"> </span> visvesvaraya technological university Belgaum</h5>
				<p>Courses:studied C and C++ languages,microprocessor,algorithm design,java,J2EE,web techlogies like HTML,PHP,CSS  Project on Theft intimation of the vehicle over SMS to owner who can stop the Engine”. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-right work-right2"> 
				<h4>Higher Secondary Schooling in Science - 2010</h4>
			</div>
			<div class="col-md-6 work-left work-left2"> 
				<h5> karnataka secondary education examination board <span class="glyphicon glyphicon-education"></span></h5>
				<p>Completed my Higher Secondary Schooling in Science. Major subjects were Physics, Chemistry, Maths.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info"> 
			<div class="col-md-6 work-left"> 
				<h4>JAVA J2EE certification course from UTTARA INFOTECH, 2014</h4>
			</div>
			<div class="col-md-6 work-right"> 
				<h5><span class="glyphicon glyphicon-education"> </span>UTTARA INFOTECH</h5>
				<p>Completed the course of JAVA Core developer from UTTARA INFOTECH in 2014. The course provided an understanding of core OOPS principle, advanced data structures and principles of software design. </p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="work-info">
			<div class="col-md-6 work-right work-right2">
				<h4>MongoDB for NodeJs Developers, 2016</h4>
			</div>
			<div class="col-md-6 work-left work-left2">
				<h5>MongoDB University<span class="glyphicon glyphicon-education"></span></h5>
				<p>Learn basic installation of MongoDB, JSON, schema design, querying, insertion of data, indexing and working with language drivers. The course project involves building an e-commerce platform with MongoDB .</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--skills-->
<div id="skills" class="skills">
	<div class="container">
		<h3 class="title">Skills</h3>
		<div class="skills-info">
			<div class="col-md-6 bar-grids">
				<h6>NodeJS <span> 80% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 80%">
					</div>
				</div>
				<h6>AngularJs <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>HTML<span>90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
				<h6> CSS<span> 90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
			</div>
			<div class="col-md-6 bar-grids">
				<h6>MongoDb <span> 85% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>Bootstrap<span> 95% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
				<h6>ElasticSearch<span>80% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 80%">
					</div>
				</div>
				<h6>Git/GitHub,Atlassian JIRA,WebStorm 7, Sublime<span> 90% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//education-->
<!--portfolio-->
<div id="projects" class="portfolio">
	<div class="container">
		<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">My Projects</h3>
		<ul class="list-group">
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Contactlist-MEAN-App</span> <a href="https://github.com/mujawar/contactlist-MEAN-app"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>contactlist web application developed using MEAN stack and also can perform CRUD operation</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">MEAN-Stack-project to add and get meetup</span> <a href="https://github.com/mujawar/MEAN-Stack-small-project"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>MEAN Stack project end to end to add and get meetup using http </span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">M101JS-mongodb-course-2016</span> <a href="https://github.com/mujawar/M101JS-mongodb-course-2016"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>M101JS-mongodb-course-2016 complated from mongodb university</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Aadhar enrollment form design</span> <a href="https://github.com/mujawar/contactlist-MEAN-app"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>Aadhar enrollment form is desinged usind html bootstrap</span></div></li>
			<li class="list-group-item"><span style="font-size: 26px;margin-right: 10px;">Angular Project</span> <a href="https://github.com/mujawar/Angular-project"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a> <div style="display: inline;margin-left: 12px;"><span>Description : </span><span>complate angular website is done using angularjs</span></div></li>

		</ul>
		<!--ResponsiveTabs-->
		<script src="js/modules/easyResponsiveTabs.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});		
		</script>
		<!--//ResponsiveTabs-->
		<!-- swipe box js -->
		<script src="js/modules/jquery.swipebox.min.js"></script> 
			<script type="text/javascript">
				jQuery(function($) {
					$(".swipebox").swipebox();
				});
		</script>
		<!-- //swipe box js -->
	</div>
</div>
<div class="welcome contact" id="contact">
	<div class="container">
		<h3 class="title">Contact Us</h3>

		<div class="contact-row">
			<div class="col-md-6 contact-left">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.915653414025!2d77.61001231418594!3d12.913142490894282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14fc94e3b57d%3A0xed632476780c658e!2s11%2C+Indira+Akash+Apartment%2C+21st+Main+Road%2C+3rd+D+Cross+Rd%2C+BTM+2nd+Stage%2C+Kuvempu+Nagar%2C+Stage+2%2C+BTM+2nd+Stage%2C+Bengaluru%2C+Karnataka+560076!5e0!3m2!1sen!2sin!4v1465813395724" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-md-6 contact-right">
				<div class="address-left">
					<p>#11 21st main 3E cross BTM 2nd Stage, Bangalore - 560076<br> KA, India. </p>
				</div>
				<div class="address-right">
					<p>Call us :  +91 77956 03977</p>
					<p>E-mail : <a href="mailto:arifmr91@gmail.com">arifmr91@gmail.com</a></p>
				</div>
				<div class="clearfix"></div>
				<div class="contact-form">
					<form method="post">
						<input type="text" placeholder="Name" ng-model="contact.name" required="">
						<input class="email" type="text" placeholder="Email" ng-model="contact.email" required="">
						<input class="phone" type="text" placeholder="Phone" ng-model="contact.phone" required="">
						<textarea name="Message" placeholder="Message" ng-model="contact.message" required=""></textarea>
						<input type="submit" value="SUBMIT"  ng-click="submitData()">
					</form>
				</div>
				<div style="font-size: 21px;color: white;smargin-top: 4%;">
					{{successMessage}}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//portfolio-->

<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
	$(document).ready(function() {
	
		var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
		};
		
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
<script src="js/modules/bootstrap.js"></script>
