  <h3 class="title"><div style="margin-left: 40%;color: black;"><h4></h4></div></h3>
  <div class="container" >
	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"  style="text-align: center;color: #5D2772;font-style: oblique;">
		  <h3>“A journey is best measured in friends, rather than miles.”</h3>
	  </div>
	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="max-width: 60%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/kunti1.jpg" alt="Lake" title="kunti" id="wows1_0"/></li>
					  <li><img  style="max-width: 60%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/kunti2.jpg" alt="Landscape" title="kunti" id="wows1_1"/></li>
					  <li><img  style="max-width: 60%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/kunti3.jpg" alt="Sunset" title="kunti" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 6%;">
			  <h2 style="margin-bottom: 2%;">Kunti betta trekking...</h2>

			  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			  <p class="paragrapcolor">
				  We had an awesome time at Kunti betta trekking. People who have never been to trekking can also try, we started at 11pm and reached there around 3am than
				  started treaking around 3:30am. We didn't face any difficulty, in fact we had the best time.
				  After all, place never matters.....what really matters is the company, and I had an awesome friends with me :#Mediboxers.</p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>

	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -18%;;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="width: 50%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/nandi1.jpg" alt="Lake" title="nandi" id="wows1_0"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/nandi2.jpg" alt="Landscape" title="nandi" id="wows1_1"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/nandi3.jpg" alt="Sunset" title="nandi" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 3%;">
			  <h2 style="margin-bottom: 2%;">Nandi Hills...2</h2>

			  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			  <p class="paragrapcolor">
				  Bangalore,Karnataka.
				  Nandi hills is famous for its scenic beauty and excellent climate conditions. Many people visit Nandi Hills to experience the picturesque view of Sun Rise. Nandi Hills, at the height of 4851 feet above sea level is, very popular picnic spot .
				  It was saturday morning when we set out for our Trip
				  We started our journey at 3:30 am in the morning so that we can reach Nandi hills around 5:30am am to see the sunrise. I was accompanied with my 3 other GPS members(Shreyas,Ashpaq,Yogesh). #Mist #inception #selfie #bestfriends
				  #onepluslife — with Yogesh Lohar, Arif Mujawar and Ashfaq Ahmed at Nandi Hills, Bangalore, Karnataka.</p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>

	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -18%;;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="width: 50%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/nandi11.jpg" alt="Lake" title="nandi" id="wows1_0"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/nandi22.jpg" alt="Landscape" title="nandi" id="wows1_1"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/nandi33.jpg" alt="Sunset" title="nandi" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 2%;">
			  <h2 style="margin-bottom: 2%;">Nandi Hills...1</h2>

			  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			  <p class="paragrapcolor">
				  Bangalore,Karnataka.
				  Nandi hills is famous for its scenic beauty and excellent climate conditions. Many people visit Nandi Hills to experience the picturesque view of Sun Rise. Nandi Hills, at the height of 4851 feet above sea level is, very popular picnic spot .
				  It was sunday 15th Dec 2015 morning when we set out for our Trip
				  We started our journey at 4 am in the morning so that we can reach Nandi hills around 6 am am to see the sunrise. This is a nice place near Bangalore which is located in the Town Nandi.
				  It is a very good place for cycling and biking. And peoples from Bangalore specifically visit this place for this reason at times.
				  Besides that it has numerous scenic beauties around it like they are many temples which are located in this place. it is also a place of historical importance, where there is tipu's summer palace and Fort.</p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>

	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -18%;;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="width: 50%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/kart1.jpg" alt="Lake" title="Karting" id="wows1_0"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/kart2.jpg" alt="Landscape" title="Karting" id="wows1_1"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/kart3.jpg" alt="Sunset" title="Karting" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 6%;">
			  <h2 style="margin-bottom: 2%;">Go Karting...(The Fast and the Furious)</h2>

			  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			  <p class="paragrapcolor">
				  Bangalore,Karnataka.
				  We had our team get-together at ezone club entertainment- is a very huge area and has go-karting as one of their activities.
				  It was great and we had lot of fun. Place not to miss in Bengaluru and can visit again.</p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>

	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -18%;;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="width: 50%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/won1.jpg" alt="Lake" title="Karting" id="wows1_0"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/won2.jpg" alt="Landscape" title="Karting" id="wows1_1"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/won3.jpg" alt="Sunset" title="Karting" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 2%;">
			  <h2 style="margin-bottom: 2%;">Wonderla Amusement Park </h2>

			  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			  <p class="paragrapcolor">
				  Wonderla Amusement Park Bangalore.
				  Wonderla water park of Bangalore is one of the biggest enjoyment theme and water park in India!
				  The dry and wet rides of wonderla Bangalore is awesome you can enjoy their very much as compared to other theme and water parks of India* . Their are lots of dry rides , which makes us hilarious experiences. and there also lots of big and small wet rides and this are mind blowing rides I have ever experienced.#Arif Mujawar,Sai Krishna N and Arjun Hasbe at #Wonderla Amusement Park Bangalore.</p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>

	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -18%;;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="width: 50%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/chin1.jpg" alt="Lake" title="Karting" id="wows1_0"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/chin2.jpg" alt="Landscape" title="Karting" id="wows1_1"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/chin3.jpg" alt="Sunset" title="Karting" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 4%;">
			  <h2 style="margin-bottom: 2%;">chinnaswamy stadium Bangalore </h2>

			  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae tortor elementum, dapibus eros vel, tempus sem. Praesent malesuada ante blandit dictum cursus. Phasellus ultricies, justo eu viverra lacinia, erat est varius velit, ac mollis ipsum leo vel sem. Vestibulum ornare tristique dolor, id tempus ex blandit vel. Morbi arcu neque, viverra ac venenatis vel, rutrum nec lectus. Donec egestas elit sit amet ante fermentum egestas. Sed in orci id justo fermentum venenatis. Donec sagittis, massa id laoreet cursus, magna elit dapibus sem, ut lacinia mauris dui in purus. Proin sollicitudin scelerisque turpis, vitae luctus turpis lacinia luctus.!.</p>
            <p>We are a group of enthusiastic engineers striving to facilitate aspiring and fellow engineers to reach the zenith! A desire to acquire and share drives our cause....hitch a ride on BlinkingBrain and you'll definitely end up closer,if not more, to fulfilling your ambition as an engineer!.</p>-->
			  <p class="paragrapcolor">
				  I am a big fan of cricket in india and chinnaswamy stadium, Banglore is my first debut stadium for watching champions league 2014 Chennai Super Kings v Dolphins well CSK opted to bat first and than rest was history csk scored 242 runs and in T20 242 can you imagin how entertaining it was...and finally CSK won the match.</p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>

	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top: -18%;;">
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-left">
			  <div id="wowslider-container1">
				  <div class="ws_images"><ul>
					  <li><img style="width: 50%;height: 299px;border: 5px solid #CE7012;" src="../img/trips/shir1.jpg" alt="Lake" title="Karting" id="wows1_0"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/shir2.JPG" alt="Landscape" title="Karting" id="wows1_1"/></li>
					  <li><img  style="width: 50%;height: 299px;border: 5px solid #CE7012;"  src="../img/trips/shir3.JPG" alt="Sunset" title="Karting" id="wows1_2"/></li>
				  </ul></div>
				  <div class="ws_shadow"></div>
			  </div>
		  </div>
		  <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 about-right" style="padding-left: 3em;margin-top: 4%;">
			  <h2 style="margin-bottom: 2%;">Shiroda Beach (Maharashtra)</h2>
			  <p class="paragrapcolor">
				  Shiroda beach ,our final year trip it was one of the best trip among other trips
				  we all had great time well with you all (amit,Anusha,jyoti and me) its always special:) never forget those jokes
				  #Fun#friends#forever

			  </p>
			  <div class="clearfix"> </div>
		  </div>
		  <div class="clearfix"> </div>
	  </div>



  </div>
