#wowslider-container1 {
    /*	overflow: hidden; */
    zoom: 1;
    position: relative;
    width:828px;
    height:524px;
    margin:0 auto;
    z-index:100;
    background-image: url(./bg.png);
}
#wowslider-container1 ul{
    list-style:none;
    margin:0;
    padding:0;
}
#wowslider-container1 .ws_images{
    position: absolute;
    left:14px;
    top:14px;
    width:800px;
    height:450px;
    overflow:hidden;
}
#wowslider-container1 .ws_images a{
    color:transparent;
}

#wowslider-container1 .ws_images img{
    top:0;
    left:0;
    border:none 0;
    max-width: none;
}
#wowslider-container1 a{
    text-decoration: none;
    outline: none;
    border: none;
}

#wowslider-container1  .ws_bullets {
    font-size: 0px;
    padding: 10px;
    float: left;
    position:absolute;
    z-index:70;
}
#wowslider-container1  .ws_bullets div{
    position:relative;
    float:left;
}
#wowslider-container1 .ws_bullets a {
    font:bold 10px/22px Tahoma,sans-serif;
    color:#000;
    text-align:center;
    margin-left:4px;
    width:22px;
    height:22px;
    background: url(./bullet.png) left top;
    opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    float: left;
    position:relative;
}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover{
    background-position: right top;
    color:#D4D4D4;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
    position:absolute;
    display:none;
    top:50%;
    margin-top:-33px;
    z-index:60;
    height: 66px;
    width: 59px;
    background-image: url(./arrows.png);
}
#wowslider-container1 a.ws_next{
    background-position: 100% 0;
    right:14px;
}
#wowslider-container1 a.ws_prev {
    left:14px;
    background-position: 0 0;
}
#wowslider-container1 a.ws_next:hover{
    background-position: 100% 100%;
}
#wowslider-container1 a.ws_prev:hover {
    background-position: 0 100%;
}
* html #wowslider-container1 a.ws_next,* html #wowslider-container1 a.ws_prev{display:block}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {display:block}
#wowslider-container1 .ws-title{
    position: absolute;
    bottom:80px;
    left: 14px;
    margin-right:5px;
    z-index: 50;
    opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    padding:12px;
    color: #d4d4d4;
    text-transform:uppercase;
    background:#000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    -moz-border-radius:0 10px 10px 0;
    border-radius:0 10px 10px 0;
}
#wowslider-container1 .ws-title div{
    padding-top:5px;
    font-size: 13px;
    text-transform:none;
}
#wowslider-container1  a.wsl{
    display:none;
}/* bottom center */
#wowslider-container1  .ws_bullets {
    bottom: 11px;
    left:50%;
}
#wowslider-container1  .ws_bullets div{
    left:-50%;
}
#wowslider-container1 ul{
    position:relative;
    width: 300%;
    left:0%;
    animation: wsBasic 18.6s infinite;
    -moz-animation: wsBasic 18.6s infinite;
    -webkit-animation: wsBasic 18.6s infinite;
}
#wowslider-container1 ul li{
    float:left;
    width:800px;
}
@keyframes wsBasic{0%{left:-0%} 24.19%{left:-0%} 33.33%{left:-100%} 57.53%{left:-100%} 66.67%{left:-200%} 90.86%{left:-200%} }
@-moz-keyframes wsBasic{0%{left:-0%} 24.19%{left:-0%} 33.33%{left:-100%} 57.53%{left:-100%} 66.67%{left:-200%} 90.86%{left:-200%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 24.19%{left:-0%} 33.33%{left:-100%} 57.53%{left:-100%} 66.67%{left:-200%} 90.86%{left:-200%} }

#wowslider-container1 .ws_bullets  a img{
    text-indent:0;
    display:block;
    bottom:25px;
    left:-80px;
    visibility:hidden;
    position:absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #0e0e0e;
    max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
    visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
    height:90px;
    overflow:visible;
    position:relative;
}
#wowslider-container1 .ws_bulframe div {
    left:0;
    overflow:hidden;
    position:relative;
    width:160px;
    background-color:#0e0e0e;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
    display:none;
    bottom:25px;
    overflow:visible;
    position:absolute;
    cursor:pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border: 5px solid #0e0e0e;
}
#wowslider-container1 .ws_bulframe span{
    display:block;
    position:absolute;
    bottom:-11px;
    margin-left:-1px;
    left:80px;
    background:url(./triangle.png);
    width:15px;
    height:6px;
}